@font-face {
  font-family: aglettericacondl;
  src: url(aglettericacondl.otf) format("opentype");
}
@font-face {
  font-family: futura;
  src: url(futura.otf) format("opentype");
}
body{
    background-color: #0F1518;
}
#top-gradient{    
    width: 100%;
    height: 550px;  
    background: linear-gradient(to bottom, #192229, #0F1518);   
    position: absolute;     
}
#page{
    height: auto;
    width: 100%;   
    position: absolute;      
    margin: auto;   
}
#block-main{
    width: 1000px;
    height: auto;
    min-height: 400px;
    margin: auto;    
}
#logo{  
    color: #ffffff;
    font: 1.7em futura;
    height: 40px;
    margin-left: 98px;
    margin-top: 23px;
    width: 200px;
}
#logo span{    
    color: #FBC046;
    font: 1.3em futura;
    margin-left: -7px;
    
}
#menu1{
    position: absolute;    
    margin-left: 737px;
    margin-top: -51px;
    width: 200px;
}
#menu1 li{    
    float: left;
    font: 11px tahoma;
    color: #304653;
    margin-left: 3px;
    cursor: pointer;
}
#menu1 li.home{    
    color: #536D7D;    
}
#menu1 a:hover{
    color: #536D7D;
}
#form-search{
    margin-top: -26px;
    margin-right: 87px;
    float: right;    
}
#form-search input#input-search{
    border: 1px solid #28353F;
    height: 20px;
    width: 170px;
    border-radius: 5px;
    background: #000000 !important;    
    padding-left: 8px;
    padding-top: 0;    
    font: 11px tahoma;
    color: #6E90A4;
    margin-bottom: 0;
}
#form-search input#input-search::-webkit-input-placeholder{color: #6E90A4;}
#form-search input#input-search::-webkit-input-placeholder {color:#6E90A4;}
#form-search input#input-search::-moz-placeholder          {color:#6E90A4;}
#form-search input#input-search:-moz-placeholder           {color:#6E90A4;}
#form-search input#input-search:-ms-input-placeholder      {color:#6E90A4;}

#form-search input[type="submit"]{
    width: 28px;
    height: 20px;
    border: 1px solid #202C34;
    border-radius: 6px;
    background: linear-gradient(to bottom, #273942, #1A242A);
    font: 11px futura;
    color: #D3D3D4;
    padding-left: 4px;
    padding-top: 1px;
    margin-left: 1px;
    cursor: pointer;
}
#form-search input[type="submit"]:hover{
    background: #273942;
}
#form-search input[type="submit"]:active{
    background: #1A242A;
}
#advanced{    
    margin-top: 1px;
    margin-left: 91px; 
    margin-bottom: 0;   
}
#advanced-search{
    text-decoration: none;
    font: 11px tahoma;
    color: #6E90A4;
}
#advanced-search:hover{
    text-decoration: underline;
}
#block-menu-2{
    width: 838px;
    height: 202px;
    border: 1px solid #FFFFFF;
    margin-top: 27px;
    margin-left: 80px;
    border-radius: 10px; 
    background-color: #FFFFFF;   
}
#menu2{
    width: 838px;
    height: 43px;
    border-top: 1px solid #FF9A38;
    border-left: 1px solid #FF9A38;
    border-right: 1px solid #FF9A38;
    border-bottom: 1px solid #A7874C;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, #FFC466, #FF9332 50%, #FF5B0F 50%, #FFA143 100%);    
}
#menu2 a{
    float: left;
    font: 18px futura;
    color: #FFFFFF;    
    height: 30px;
    margin-left: 25px;
    margin-right: 29px;
    padding-top: 9px;   
}
#menu2 a.contacts{
    margin-right: 0;
}
#menu2-content{
    border: 1px solid #CFCFCF;
    border-radius: 0 0 10px 10px;
    margin-top: 1px;
    width: 838px;
    height: 155px;
    background-color: #E6E6E6;
}
#menu2-content-image{
    margin-left: 1px;
    float: left;
    height: 152px;
    width: 561px;
    border: 1px solid #6E7882;
    border-radius: 0 0 0 10px;
    background-image: url(/images/img1.png);    
}
#menu2-content-banner{
    background-color: black;
    opacity: 0.7;
    width: 558px;
    height: 23px;
    margin-top: 2px;
}
#menu2-content-image p{
    font: 17px tahoma;
    padding: 0;
    position: absolute;
    margin-left: 378px;
    margin-top: -27px;
    margin-right: 0;
    color: #FFFFFF;    
    padding-top: 2px;    
}
#menu2-content-text{
    float: left;
    height: 155px;
    width: 274px;
    background: linear-gradient(to bottom left, #F9F9F9, #E6E6E6); 
    border-radius: 0 0 10px 0;    
}
#menu2-content-text > p{
    font: 11px tahoma;
    color: #4F4F4F;
    margin-left: 11px;
    margin-top: 6px;
    padding-right: 15px;
    line-height: 1.26;
}
#menu2-content-text > p > a{
    margin-left: 51px;    
    color: black;    
}
#menu2-content-text > p > a:hover{
    text-decoration: none;
}
#menu2-content-text > ul{
    margin-left: 11px;
    margin-top: -1px;
}
#menu2-content-text > ul > li{
    float: left;
    font: 10px tahoma;
    color: black;
}
#menu2-content-text > ul > li > span{
    color: #898989;
}
.menu2-comments{
    margin-left: 81px;
}
.menu2-comments > a{
    color: black;
}
.menu2-comments > a:hover{
    text-decoration: none;
}
#menu2-content-text > #pagination{
    position: absolute;
    margin-left: 140px;
    margin-top: 13px;
    width: 160px;
}
#pagination li{    
    float: left;    
    margin-right: 5px;
    height: 19px;
    width: 20px;   
    border-radius: 5px; 
    box-shadow: 0px 1px 0px 0px #CBCBCB;
    background: linear-gradient(to bottom, #FFFFFF, #A4A4A4); 
    cursor: pointer;   
}
#pagination li > a > p{        
    background: linear-gradient(to bottom, #FFFFFF, #E4E4E4);
    font: 14px tahoma;    
    color: #000000;   
    width: 17px;
    margin-left: 1px;
    margin-top: 0px;
    border-radius: 4px;
    padding-left: 0;
    text-align: center; 
    padding-right: 1px;   
}
#pagination li > a > p:hover{
    background: #FFFFFF;
}
#pagination li > a > p:active{
    background: #E4E4E4;
}
#leaderboard{
    /*width: 730px;
    height: 92px;*/
    max-width: 100%;
    height: auto;    
    margin-top: 12px;
    margin-left: 50px;    
}
#block-content-left{
    width: 579px;
    height: auto;
    border: 1px solid white;    
    margin-top: 10px;
    border-radius: 8px 0 0 8px;
    background-color: #FFFFFF;
    clear: both;
    float: left;
    padding-bottom: 1px;  
    margin-bottom: 7px; 
}
#block-content-right{
    width: 256px;
    height: 770px;
    margin-top: 10px;
    border-left: 1px dashed #C3C3C3;    
    border-radius: 0 8px 8px 0;
    background-color: #ECECEC;
    float: left;              
}
#article1{
    width: 578px;
    height: 245px;   
}
.article-header{
    width: 577px;
    height: 34px;    
    border-radius: 8px 0 0 8px; 
    background: linear-gradient(to bottom, #303D45, #141B20);  
    margin-top: 1px;
    margin-left: 1px; 
}
.article-header2{
    width: 576px;
    height: 32px;    
    border-radius: 8px 0 0 8px; 
    background: linear-gradient(to bottom, #303D45, #10171A 35%, #10171A 35%, #10171A 60%, #10171A 60%, #202B31 100%);
    margin-top: 1px;
    margin-left: 1px;    
}
.article-header2 a{
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 13px;
    font: 1.1em tahoma;    
    color: white; 
    width: 576px;
    height: 32px;
    position: absolute;
    text-decoration: none;      
}
.article-content{
    width: 576px;
    height: 209px;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
    background-color: #EFEFEF;
    margin-top: 2px;
    
}
.article-content-img{
    width: 190px;
    height: 173px;
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 9px;
    margin-top: 17px;
    margin-left: 19px;
    margin-right: 12px;
    box-shadow: 0px 0px 1px 2px #E4E4E4;
    float: left;
}
#article1-content-img2 img{
    margin-left: 1px;
    margin-top: 1px;
    width: 188px;
    height: 171px;    
    border-radius: 7px;   
}
.article-content > p{
    margin-top: 19px;
    margin-right: 12px;
    font: 12px tahoma;
    color: #4F4F4F;
    line-height: 1.03;    
}
.article-content > p > .fontsize{
    font-size: 14px;
    line-height: 0.9; 
    font-weight: bold;   
}
.article-content ul{
    margin-left: 13px;    
}
.article-content > ul > li{
    float: left;
    font: 10px arial;
    color: #AFAFAF;
    padding-left: 4px;
}
.article-content > ul > li.by{
    margin-left: 114px;
    margin-top: -1px;
    font-size: 12px;    
}
.article-content > ul > li.by > span{
    color: #253138;
}
#article2{
    width: 578px;
    height: 245px;   
    margin-top: 4px;
}
#article2-content-img2 img{     
    margin-left: 1px;
    margin-top: 1px;
    width: 188px;
    height: 171px;    
    background: url(/images/img4.png);
    border-radius: 7px;  
}
#other-articles{
    width: 285px;
    height: 242px; 
    margin-top: 4px;
    margin-left: 1px;    
    clear: both;
    float: left; 
}
.other-articles-header{
    width: 288px;
    height: 36px;    
    border-radius: 6px; 
    background: linear-gradient(to bottom, #303D45, #141B20);   
}
.other-articles-header2{
    width: 285px;
    height: 34px;    
    border-radius: 6px; 
    background: linear-gradient(to bottom, #303D45, #10171A 35%, #10171A 35%, #10171A 60%, #10171A 60%, #202B31 100%);    
}
.other-articles-header2 a{
    margin-top: 0px;
    padding-top: 7px;
    padding-left: 2px;
    text-align: center;
    font: 1.1em tahoma;    
    color: white;     
    text-decoration: none;
    width: 280px;
    height: 30px; 
    display: block;     
}
.other-articles-content{
    width: 286px;
    height: 200px;
    border: 1px solid #CFCFCF;
    border-radius: 6px 6px 0 0;
    background-color: #EFEFEF;
    margin-top: 2px;
    box-shadow: 0 0 30px 30px #E7E7E7 inset;
}
.other-articles-content-img{
    width: 258px;
    height: 85px;
    margin-left: 14px;
    margin-top: 11px;
    border: 1px solid #D9D9D9;
    background-color: white;
    border-radius: 9px;    
    box-shadow: 0px 0px 1px 2px #E4E4E4;    
}
#other-articles-content-img2{
    margin-left: 1px;
    margin-top: 1px;
    width: 256px;
    height: 83px;    
    background: url(/images/img5.png);
    border-radius: 7px;
}
.other-articles-content > p{
    margin-top: 7px;
    margin-left: 16px;
    margin-right: 13px;
    font: 12px tahoma;
    color: #272727;
    line-height: 1.16;     
}
.other-articles-content ul{
    margin-left: 15px;    
}
.other-articles-content > ul > li{
    float: left;
    font: 10px tahoma;
    color: #AFAFAF;
    margin-top: -7px;
    padding-left: 2px;
}
.other-articles-content > ul > li.by{
    margin-left: 52px;
    margin-top: -9px;
    font-size: 12px;    
}
.other-articles-content > ul > li.by > span{
    color: #08141B;
}
#other-articles-right{
    width: 285px;
    height: 242px; 
    margin-top: 4px;
    margin-left: 5px;    
    float: left;    
}
#other-articles-right-content-img{    
    margin-top: 1px;
    width: 256px;
    height: 83px;    
    background: url(/images/img6.png);
    border-radius: 7px;
}
#block-content-footer{
    width: 578px;
    height: 26px;    
    border-radius: 0 0 0 8px; 
    background: linear-gradient(to bottom, #303D45, #141B20); 
    float: left;  
}
#block-content-footer2{
    width: 577px;
    height: 25px;    
    border-radius: 0 0 0 8px; 
    background: linear-gradient(to bottom, #303D45, #10171A 35%, #10171A 35%, #10171A 60%, #10171A 60%, #202B31 100%);    
}
#block-content-footer2 > a{
    font: 11px tahoma;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 0;
    margin-top: 4px;
    margin-left: 11px;    
}
#block-content-footer2 > a:hover{
    text-decoration: none;
}
#block-content-footer ul{
    float: right;
    margin-top: 3px;    
}
#block-content-footer li{    
    float: left;    
    margin-right: 3px;
    height: 20px;
    width: 23px;   
    border-radius: 7px;    
    background: linear-gradient(to bottom, #FFFFFF, #A4A4A4); 
    cursor: pointer;   
}
#block-content-footer li > a > p{        
    background: linear-gradient(to bottom, #FFFFFF, #E4E4E4);
    font: 14px tahoma;    
    color: #000000;   
    width: 20px;
    height: 19px;
    margin-left: 1px;
    margin-top: 0px;
    border-radius: 6px;
    padding-left: 1px;    
    text-align: center; 
    padding-right: 1px;   
}
#block-content-footer li > a > p:hover{
    color: #ADADAD;
}
#block-content-footer li > a > p:active{
    background: #E4E4E4;
}
#member{
    width: 220px;
    height: 125px;
    margin-left: 19px;
    margin-top: 16px;
    background: url(/images/img7.png);    
}
.text-over{
    float: right;
    font: 23px aglettericacondl;
    color: #262E36;
    margin-top: -2px;
    margin-bottom: 7px;  
    margin-right: 5px;         
}
.text-over > span{
    color: #FC9A13;
}
#form-user input{
    width: 203px;
    height: 25px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    margin-bottom: 7px;
    background-color: #D8D8D8;
    opacity: 0.7;
    font: 12px tahoma;
    padding-left: 10px; 
    padding-top: 0;       
}
::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}

#form-user input#login{
    float: right;
    height: 20px;
    width: 75px;
    border-radius: 5px;
    font: 14px tahoma;
    color: #FEFEFE;
    background: linear-gradient(to bottom, #303D45, #10171A 35%, #10171A 35%, #10171A 60%, #10171A 60%, #202B31 100%);
    opacity: 1;
    border: 0; 
    cursor: pointer;
    margin-right: 4px;
    margin-top: 2px; 
    padding-left: 4px;
    padding-top: 0;    
}
#form-user input#login:active{
    background: #303D45;
}
#member > ul{
    position: absolute;
    margin-top: 2px;
    margin-left: 5px;
    width: 160px;
}
#member > ul > li{
    float: left;
    margin-left: 5px;
    font: 12px tahoma;
    margin-top: 2px;
    margin-right: -1px;
}
#member > ul > li > p{
    margin: 0;     
}
#member > ul > li > p > a{
    text-decoration: none;
    color: #A8A8A8;
}
#member > ul > li > p > a.register{
    color: #10171B;
}
#categories{
    width: 220px;
    height: 297px;
    margin-top: 16px;
    margin-left: 19px;           
}
.category-list{
    margin-top: 26px;
    position: absolute;   
}
.category-link{
    display: block;
    width: 202px;
    height: 23px;
    border: 1px solid #D6D6D6;
    background-color: #E1E1E1;    
    margin-top: 4px;
    text-decoration: none;
    font: 12px tahoma;
    color: #4F4F4F;
    text-align: right;
    padding-top: 5px;
    margin-right: 20px;
    padding-right: 10px;
}
.category-link:hover{
    background-color: #E7E7E7; 
    color: black;
}
#archives{
    width: 220px;
    height: 161px;
    margin-left: 20px;
    margin-top: 19px;
}
#newsletter{
    width: 220px;
    height: 94px;
    margin-left: 19px;
    margin-top: 19px; 
    background: url(/images/img8.png);   
}
#form-rss input{
    width: 202px;
    height: 25px;
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    margin-bottom: 14px;
    background-color: #D8D8D8;
    opacity: 0.7;
    font: 12px tahoma;
    padding-left: 9px;
    padding-top: 0;         
}
#form-rss input#submit{
    float: right;
    height: 19px;
    width: 75px;
    border-radius: 5px;
    padding: 0;
    padding-bottom: 2px;
    font: 14px tahoma;
    color: #FEFEFE;
    background: linear-gradient(to bottom, #303D45, #10171A 35%, #10171A 35%, #10171A 60%, #10171A 60%, #202B31 100%);
    opacity: 1;
    border: 0; 
    cursor: pointer;
    margin-right: 5px;
}
#form-rss input#submit:active{
    background: #303D45;
}
#block-footer{
    width: 100%;
    height: 112px;
    background-color: #121A1E;
    clear: both;
    border-radius: 8px 8px 0 0;       
}
#block-footer > p{
    font: 18px tahoma;    
    color: white;
    position: absolute;  
    margin-top: 12px; 
    margin-left: 17px;    
    width: 130px;
}
#tags{
    width: 450px;
    height: 50px;    
    margin-left: 16px;
    margin-top: 47px;
    position: absolute;
}
#tags a{
    display: block;    
    background-color: #070A0C;    
    text-decoration: none;
    font: 10px tahoma;
    color: #41718D;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-radius: 5px;
    float: left;
    margin-right: 8px; 
    margin-bottom: 8px;   
}
#tags a:hover{
    background-color: #101315;     
}
#footer-p{
    position: absolute;    
    font: 12px tahoma;
    color: #414F57;    
    width: 270px;
    float: right;
    margin-left: 540px;
    margin-top: 54px;
    line-height: 1.14;
}
#footer-p a{
    color: #41718D;
    text-decoration: none;
}
#footer-p a:hover{
    color: #5787A3;
    border-bottom: 1px dashed #5787A3;
}
.link-first{
    margin-left: 6px;    
}
#nav-icon{
    width: 0;
    height: 0;
}
#nav-icon img{
    width: 0;    
}